.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }
  .home-bg{
    background: url('../../public/bg_image.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
    width:100%;
    margin-top: 0px;
    position: relative;
  }
  .home-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 99, 99, 0.623); /* Adjust the alpha value to change the overlay opacity */
  }
 .hero__content {
    text-align: center; /* Adjust as needed */
    color: #fff; /* Text color */
   
  }
  
  .contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; /* Adjust this value based on your needs */
  }
  
  .contact-info {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    gap: 100px; /* Adjust the gap between icons and text */
  }
  

  .facebook{
    margin-left: 150px;
  }
 

