.recipe-form {
    background: url('../../public/bg_image.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
    width:100%;
    margin-top: 0px;
    position: relative;
  }
  .recipe-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 99, 99, 0.623); /* Adjust the alpha value to change the overlay opacity */
  }

     
.form-container {
    position: absolute; /* Set position to absolute */
    top: 50%; /* Move the element 50% down from the top of the parent */
    left: 50%; /* Move the element 50% from the left of the parent */
    transform: translate(-50%, -50%);
    width: 30%;
    margin: 0 auto;
    background-color: rgba(167, 165, 165, 0.623); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(2px);
    padding: 30px; /* Add padding instead of margin */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }

  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .btn-primary {
    width: 100%;
    max-width: 200px;
  }
  
 .form-control{
  height: 35px ;
 }

 /*
echo "# fb" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/PreethiS2004/fb.git
git push -u origin main